.page-content {
    padding: 8% 8%;
}


.search-bar .form-control {
    display: inline-block;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    
}
.content-box img {
    width: 100px;
    max-height: 200px;
    object-fit: contain;
}

.desc-box {
}
.desc-box h4 {
    font-size: 16px;
}
.single-container {
    display: flex;
    padding: 4% 8%;
    max-width: 248px;
}

.img-box {
    padding-right: 1rem;
}