.item-container {
    padding: 8% 12%;
    display: flex;
}

.img-container {
    margin-right: 72px;
    width: 40%;
}
.img-container img {
    height: 500px;

}
.desc-container .title {
    font-size: 32px;
    font-weight: 700;
}
.tagline {
    font-size: 24px;
    margin-bottom: 0;
}
.stars {
    margin-bottom: 8px;
}

#heading {
    font-weight: 600;
}
#food-pairing {
    margin-left:10px;
    margin-bottom: 0;
}
.text-div ul {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .img-container img {
        height: 200px;
    }
    .img-container {
        width: auto;
        margin-right: 24px;
        margin-left: 12px;
    }
    .item-container {
        padding: 4%;
        display: flex;
    }
    .tagline {
        font-size: 20px;
    }
    .small-txt, .small-txt-div {
        font-size: 14px;
        padding: 0;
    }
    .text-div {
        padding: 6% 6% 0 6%;
    }
    .small-txt-div {
        padding: 0 6%;
    }
    .desc-container .title {
        line-height: 1.1;
        margin-bottom: 8px;
    }
}