
.top-container {
    padding: 0;
}

.search-bar .form-control {
    display: inline-block;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    
}
.content-box img {
    width: 100px;
    max-height: 200px;
    object-fit: contain;
}

.desc-box {
}
.desc-box h4 {
    font-size: 16px;
}
.single-container {
    display: flex;
    padding: 4% 2%;
    width: 330px;
    margin-right: 24px;
}

.img-box {
    padding-right: 1rem;
}

.img-slider .carousel-item img {
    height: 500px;
    object-fit: cover;
    filter: brightness(0.5);
}

.search-bar-container {
    display: flex;
    padding: 1rem 0;
}
.logo {
    padding: 0 5%;
}
.search-bar {
    flex: 1;
    padding: 0 15% 0 0;
}
.carousel-caption {
    top: 50%;
    bottom: 0;
    padding: 0;
}
.carousel-caption h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
}
.carousel-caption p {
    font-size: 20px;
    margin-bottom: 0;
}
.carousel-caption p:last-of-type {
    margin-bottom: 10px;
}
.carousel-control-prev, .carousel-control-next {
    display:none;
}
.carousel-indicators {
    display:none;
}


/* Featured page */

.featured {
    
    padding: 0;
}
.featured .img-container {
    width: 100%;
}
.featured .img-container img {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}
.featured .text-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured .text-container .text-box {
    margin: 0 5%;
}
.featured .text-container .text-box p {
    font-size: 24px;
}
.searchIcon {
    font-size: 32px;
    line-height: 1.2 !important;
    margin-left: 1rem;
}

@media (max-width: 767px) {
    .carousel-caption {
        top: 30%;
    }
    .carousel-caption p {
        margin-bottom: 0;
    }
    .carousel-caption h2 {
        margin-bottom: 16px;
    }
    .search-bar {
        padding: 0 7% 0 0;
    }
    .flexbox .img-container {
        margin-right: 0;
        margin-left: 0;
    }
    .featured .text-container .text-box {
        margin: 0 5%;
        padding: 10% 0px;
    }
    .featured .flexbox {
        flex-direction: column;
    }
    .content-box img {
        width: 80px;
        max-height: 160px;
    }
    .featured .img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
}