
.top-container {
    padding: 0;
}
.about-container {

    height: 80vh;
} 
body {
    background-image: none;
}
#beer-dot-com {
    font-family: sans-serif;
}
#beer-dot-com #mainNav {
    align-items: baseline;
    color: #fff;
    background-color: #000;
    margin-left: 0;
}
#mainNav h1 {
    
    font-family: cursive;
}
.cta {
    border-radius: 10px;
}
#mainNav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
.flex-right {
    margin-left: 235px; /* Same as the width of the sidenav */
    
}
/* Button 1 */
.btn-1 {
	border: 1.5px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #fff;
	background: #808080;
}
.block {
    margin: 1rem 0;
}
.block.btn {
    display: flex;
}
.block.btn button {
    flex: 1;
}
.navbar {
    padding: 2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #808080;
}
#beer-dot-com .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    margin: 0.3rem 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
.navbar-expand-lg .navbar-nav  {
    flex-direction: column;
    text-align: center;
    
}
#item .item-container-2 {
    border-top: 1px solid darkgray;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 15px;
    border: 1px solid navajowhite;
    color: black;
    display: block;
    padding: 4% 4%;
    margin: 4% 5%;

}
.carousel-caption {
    display: flex;
    justify-content: center;
}

.flex-container {
    display:flex;
    flex-direction: row;
}

.search-bar .form-control {
    display: inline-block;
}
.link-bold {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    
}
.content-box img {
    width: 100px;
    max-height: 200px;
    object-fit: contain;
}

.site-heading .site-heading-lower {
    font-size: 4rem;
    text-transform: none;
    font-weight: 100;
    line-height: 4rem;
}

.desc-box h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.single-container {
    background-color: rgba(240, 240, 240, 0.7);

    border-radius: 15px;
    border: 1px solid navajowhite;
    color: black;
    display: flex;
    padding: 4% 2%;
    width: 330px;
    margin-right: 24px;
    margin-bottom: 1rem;
}

.img-box {
    padding-right: 1rem;
}

.img-slider .carousel-item img {
    height: auto;
    object-fit: cover;
    filter: brightness(0.5);
    max-height: 810px;
    min-height: 300px;
}

.search-bar-container {
    display: flex;
    padding: 1rem 0;
}
.logo {
    padding: 0 5%;
}
.search-bar {
    flex: 1;
    padding: 0 15% 0 0;
}
.carousel-caption {
    top: 44%;
    bottom: 0;
    padding: 0;
}
.carousel-caption h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
}
.carousel-caption p {
    font-size: 20px;
    margin-bottom: 0;
}
.carousel-caption p:last-of-type {
    margin-bottom: 16px;
}
.carousel-control-prev, .carousel-control-next {
    display:none;
}



/* Featured page */

.featured {
    
    padding: 0;
}
.featured .img-container {
    width: 100%;
}
.featured .img-container img {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
}
.featured .text-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured .text-container .text-box {
    margin: 0 5%;
}
.featured .text-container .text-box p {
    font-size: 24px;
}
.searchIcon {
    font-size: 32px;
    line-height: 1.2 !important;
    margin-left: 1rem;
}
@media (max-width: 768px) {
    .navbar-light .navbar-toggler {
        color: #fff;
    }
    
    .block.btn button {
        flex: none;
    }
    .block.address, .block.btn {
        display: none;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        padding-left: 0;
        padding-right: 0;
    }
    #mainNav {
        padding: 1rem;
        position: relative !important;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('image/square.svg');
        background-color: #fff;
    }
      
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
        margin-top: 1rem;

    }
    .flex-right {
        margin-left: 0; /* Same as the width of the sidenav */
        
    }

    .carousel-caption {
        top: 30%;
    }
    #food-pairing {
        font-size:14px;
        font-weight: 700;
    }
    .carousel-caption p {
        margin-bottom: 0;
    }
    .carousel-caption h2 {
        margin-bottom: 16px;
    }
    .search-bar {
        padding: 0 7% 0 0;
    }
    .flexbox .img-container {
        margin-right: 0;
        margin-left: 0;
    }
    .featured .text-container .text-box {
        margin: 0 5%;
        padding: 10% 0px;
    }
    .featured .flexbox {
        flex-direction: column;
    }
    .content-box img {
        width: 80px;
        max-height: 160px;
    }
    .featured .img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
}
@media (min-width: 769px) {
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    
}

@media (max-width: 990px ) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .carousel-caption h2 {
        font-size: 1.6rem;
    }
    .carousel-caption p, .carousel-caption button  {
        font-size: 0.9rem;
    }
    .carousel-caption {
        right: 5%;
        left: 5%;
    }
    

}
@media (min-width: 1420px) {
    .w-100 {
        width: 100vw!important;
    }
}
@media (max-width: 500px) {
    .carousel-caption h2 {
        font-size: 1.4rem;
    }
    .carousel-caption p, .carousel-caption button  {
        font-size: 0.9rem;
    }
    .carousel-caption p {
        line-height: 1;
    }
    .carousel-caption {
        right: 2%;
        left: 2%;
    }
    .carousel-indicators {
        display: none;
    }
    
    
}