.result-container {
    display: flex;
    border-top: 1px solid darkgray;
}
.result-container .filter-box {
    width: 20%;
    border: 1px solid burlywood;
}
.result-container .content-box {
    width: 80%;

}
#logo {
    background: none !important;
    border: none;
    color: #212529;
}
.content-box .single-container:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.content-box .item-container {
    display: flex;
    flex-wrap: wrap;
}